body{
    margin: 0px;
}

/* nav{
    width: 100%;
    height: 80px;
    background-color: skyblue;
} */

#section-slider{
    width: 100%;
    height: 300px;
    background-color: #FBD1D3;
}

#section-about{
    width: 100%;
    height: 300px;
    background-color: #F198AF;
}

#section-project{
    width: 100%;
    height: 350px;
    background-color: #EBB2D6;
}

#section-contact{
    width: 100%;
    height: 300px;
    background-color: #9F81CD;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #766dc1;
}

li {
    display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

table{
    width: 100%;
}

/* table, tr, td{
    width: 100%;
} */
/* .btn{
    padding: 10px;
    color: white;
    width: 100px;
    height: 80px;
}

.btn-primary{
    background-color: skyblue;
} */
